@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Qwitcher+Grypen:wght@400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.navbar-brand {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-size: 3rem;
}

.nav-link {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
}

.titulo {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
}

.card-subtitle {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
}

.card-text {
    font-family: "Roboto Mono", monospace;
    font-weight: 200;
    font-size: 1.2rem;
}

.labels-text {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.img-title {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 1rem;
}

.titulo-2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
}

.fa-html5 {
    color: red;
}

.fa-css3-alt {
    color: rgb(55, 183, 206);
}

.fa-sass {
    color: rgb(245, 117, 232);
}

.fa-bootstrap {
    color: rgb(155, 56, 236);
}

.fa-git-alt {
    color: red;
}

.fa-js {
    color: rgb(237, 211, 9);
}

.fa-vuejs {
    color: rgb(74, 229, 131);
}

.texto-contacto {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: .5rem;
}
